
.bo { background-image: url('../../../system/images/back2.jpg');background-repeat: no-repeat;background-size: cover; background-attachment: fixed;}

.p {float:right;margin-right:20px;font-size:25px;text-decoration:none ;}
.p:hover {background-color: gray;}

.logout {float:left;margin-left:20px;font-size:25px;text-decoration:none ;}
.logout:hover {background-color: gray;}

.showname{float:left;font-size:25px;user-select:none;margin-left:20px;color:#00ff00;}

.nav{background-color:#d97777;position:fixed; left:0px;right:0px;top:0px;}

table{margin:auto;margin-top:100px;border-collapse:collapse;text-align: center;width:50%;background-color: #fff7f7;}
td {border:1px solid black;border-collapse:collapse;}
th {border:1px solid black;border-collapse:collapse;background-color:gray;}

.form1 {margin:auto;margin-top:10%;width:500px;background-color: #02e9ef78;border-radius: 10px;}

.form2 {margin:auto;margin-top:10%;width:60%;height:200px;background-color: #02e9ef78;border-radius: 10px;}

.input { margin-left:20px;}

.label{margin-left: 20px;margin-top:100px;}

.submit {margin-left:40%;margin-top:10px;cursor:pointer;}

.div{margin-top:20px;margin-left:30%;}

.font {margin-left: 40%;font-size :30px;}

.dataf{float:right;margin-right:30px;margin-top:30px;text-align: center;}

.textbox{width:95px;}

.buttons{float:left;margin-left:40%;margin-top:100px;text-align: center;}

.delete{position:fixed;top:50%;right:10%;background-color:red;cursor:pointer;font-size:20px;}

.prof_button{border: none;outline: none; background: none;cursor:pointer}

.comment_button{border: none;outline: none; background: none;cursor:pointer}








